html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("./bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #3f4245;
}

#dropZone {
  border: 2px dashed #4d70ff;
  padding: 70px;
  text-align: center;
  color: #4d70ff;
  margin-top: 25px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(100px);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.1em;
}

#header {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 50px;
  font-size: 3em;
  color: #4d70ff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

#uploadSection h2 {
  margin-bottom: 35px;
  text-align: center;
}

#uploadSection {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.custom-file-label {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.1em;
  color: white;
  background: #4d70ff;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, transform 0.1s ease-in-out;
  text-align: center;
  width: 100%;
  max-width: 250px;
  margin: 10px auto;
}

.custom-file-label:hover {
  background: #5a7de1;
}

.custom-file-label:active {
  transform: scale(0.98);
}

/* Hide the default file input */
input[type="file"] {
  display: none;
}

#elementSelection {
  display: none;
}

#elementSelection h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}

#elementsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 15px;
  margin: 20px 0;
  padding: 10px;
}

.element-item {
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(40px);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.element-item input[type="checkbox"] {
  transform: scale(1.2);
}

.page-button {
  padding: 12px 24px;
  font-size: 1.1em;
  color: white;
  background: #4d70ff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, transform 0.2s ease;
  text-align: center;
  margin: 20px auto; /* Center the button horizontally */
  display: block; /* Ensures it centers properly in flex or block containers */
}

.page-button:hover {
  background: #5a7de1;
}

.page-button:active {
  transform: scale(0.98);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.page-button:disabled {
  background: #9e9e9e;
  cursor: not-allowed;
}

#tableSection {
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  display: none;
}

/* Style for the header */
#tableSection h2 {
  font-size: 24px;
  font-weight: 600;
  color: #3f4245;
  margin-bottom: 30px;
  margin-top: -20px;
  text-align: center;
}

/* Style for the reset button */
#resetButton {
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 20px;
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#resetButton:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

/* Style for the table container */
#tableContainer {
  overflow-x: auto;
}

table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

th,
td {
  padding: 15px;
  text-align: left;
}

th {
  background: #619cfa;
  color: #fff;
  font-size: 1.2em;
}

th.resizable {
  position: relative;
}

th.resizable:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  cursor: ew-resize;
  z-index: 10;
}

td {
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.2);
}

tr:nth-child(even) td {
  background-color: rgba(255, 255, 255, 0.15);
}

tr:hover td {
  background-color: rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s;
}

@media (max-width: 1200px) {
  #elementsContainer {
    grid-template-columns: repeat(3, 1fr); /* 3 columns on smaller screens */
  }
}

@media (max-width: 768px) {
  #elementsContainer {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for narrow screens */
  }
}

@media (max-width: 480px) {
  #elementsContainer {
    grid-template-columns: 1fr; /* 1 column for mobile */
  }
}

@media (max-width: 768px) {
  .sort-search-container {
    flex-direction: column;
    gap: 15px;
  }

  .sort-search-inputs {
    flex-direction: column;
    gap: 10px;
    width: 90%;
  }

  #search-input,
  #sort-by {
    width: 100%;
  }

  #clear-search,
  #reset-sort {
    width: 100%;
    font-size: 1.1em;
  }

  .page-button {
    width: 30%;
    align-items: center;
  }

  #hamburger {
    display: block;
  }
  #nav-links {
    display: none;
    flex-direction: column;
    gap: 10px;
  }
  #nav-links.show {
    display: flex;
  }
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(69deg, #669afa, #4d70ff);
  border-radius: 0px 9px 9px 0px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb:horizontal {
  background: linear-gradient(69deg, #669afa, #4d70ff);
}
