<<<<<<< HEAD
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("./bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #3f4245;
}

#header {
  text-align: center;
  margin-top: 20px;
  font-size: 4em;
  color: #4d70ff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/* Container for Sort and Search Inputs */
.sort-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack inputs and buttons */
  gap: 20px;
  margin: 20px auto;
  text-align: center;
}

/* Grouping Sort and Search Inputs together */
.sort-search-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap; /* Wrap inputs on smaller screens */
}

.sort-container {
  text-align: center;
}

.sort-container label {
  font-size: 1.3em;
  padding: 5px;
  color: #fff;
}

#sort-by {
  padding: 10px 15px;
  font-size: 1.1em;
  border-radius: 5px;
  border: 1px solid #619cfa;
  background: linear-gradient(135deg, #6a8dff, #4d70ff);
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#sort-by option {
  background-color: #fff;
  color: #3f4245;
}

#sort-by:hover {
  background-color: #5a7de1;
  cursor: pointer;
}

.search-container {
  text-align: center;
}

#search-input {
  padding: 10px;
  font-size: 1.1em;
  width: 100%;
  color: #fff;
  transition: all 0.3s ease;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

#search-input:focus {
  outline: none;
  border-color: #4d70ff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

::placeholder {
  color: #fff;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #fff;
}

/* Buttons Container */
.buttons-container {
  display: flex;
  justify-content: center;
  gap: 15px; /* Reduced gap between buttons */
}

#clear-search,
#reset-sort {
  padding: 10px 15px;
  font-size: 1em;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(25px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: transform 0.1s ease-in-out;
}

/* Adjust buttons on hover */
#clear-search:hover,
#reset-sort:hover {
  background-color: #5a7de1;
  transform: scale(1.1);
}

#clear-search:active,
#reset-sort:active {
  transform: scale(1);
}

table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

th,
td {
  padding: 15px;
  text-align: left;
}

th {
  background: #619cfa;
  color: #fff;
  font-size: 1.2em;
}

td {
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.2);
}

tr:nth-child(even) td {
  background-color: rgba(255, 255, 255, 0.15);
}

tr:hover td {
  background-color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 0.3s;
}

span#page-number {
  color: #fff;
  padding: 10px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(25px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.pagination-controls {
  text-align: center;
  margin: 20px auto;
}

.page-button {
  padding: 10px 15px;
  font-size: 1.1em;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 0 10px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(25px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: transform 0.1s ease-in-out;
}

.page-button:hover {
  background-color: #5a7de1;
  transform: scale(1.1);
}

.page-button:active {
  transform: scale(1);
}

@media (max-width: 768px) {
  .sort-search-container {
    flex-direction: column;
    gap: 15px;
  }

  .sort-search-inputs {
    flex-direction: column;
    gap: 10px;
    width: 90%;
  }

  #search-input,
  #sort-by {
    width: 100%;
  }

  #clear-search,
  #reset-sort {
    width: 100%;
    font-size: 1.1em;
  }

  .page-button {
    width: 30%;
    align-items: center;
  }
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(69deg, #669afa, #4d70ff);
  border-radius: 0px 9px 9px 0px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb:horizontal {
  background: linear-gradient(69deg, #669afa, #4d70ff);
}
=======
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("./bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #3f4245;
}

#header {
  text-align: center;
  margin-top: 20px;
  font-size: 4em;
  color: #4d70ff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/* Container for Sort and Search Inputs */
.sort-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack inputs and buttons */
  gap: 20px;
  margin: 20px auto;
  text-align: center;
}

/* Grouping Sort and Search Inputs together */
.sort-search-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap; /* Wrap inputs on smaller screens */
}

.sort-container {
  text-align: center;
}

.sort-container label {
  font-size: 1.3em;
  padding: 5px;
  color: #fff;
}

#sort-by {
  padding: 10px 15px;
  font-size: 1.1em;
  border-radius: 5px;
  border: 1px solid #619cfa;
  background: linear-gradient(135deg, #6a8dff, #4d70ff);
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#sort-by option {
  background-color: #fff;
  color: #3f4245;
}

#sort-by:hover {
  background-color: #5a7de1;
  cursor: pointer;
}

.search-container {
  text-align: center;
}

#search-input {
  padding: 10px;
  font-size: 1.1em;
  width: 100%;
  color: #fff;
  transition: all 0.3s ease;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

#search-input:focus {
  outline: none;
  border-color: #4d70ff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

::placeholder {
  color: #fff;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #fff;
}

/* Buttons Container */
.buttons-container {
  display: flex;
  justify-content: center;
  gap: 15px; /* Reduced gap between buttons */
}

#clear-search,
#reset-sort {
  padding: 10px 15px;
  font-size: 1em;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(25px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: transform 0.1s ease-in-out;
}

/* Adjust buttons on hover */
#clear-search:hover,
#reset-sort:hover {
  background-color: #5a7de1;
  transform: scale(1.1);
}

#clear-search:active,
#reset-sort:active {
  transform: scale(1);
}

table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

th,
td {
  padding: 15px;
  text-align: left;
}

th {
  background: #619cfa;
  color: #fff;
  font-size: 1.2em;
}

td {
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.2);
}

tr:nth-child(even) td {
  background-color: rgba(255, 255, 255, 0.15);
}

tr:hover td {
  background-color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 0.3s;
}

span#page-number {
  color: #fff;
  padding: 10px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(25px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.pagination-controls {
  text-align: center;
  margin: 20px auto;
}

.page-button {
  padding: 10px 15px;
  font-size: 1.1em;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 0 10px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(25px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: transform 0.1s ease-in-out;
}

.page-button:hover {
  background-color: #5a7de1;
  transform: scale(1.1);
}

.page-button:active {
  transform: scale(1);
}

@media (max-width: 768px) {
  .sort-search-container {
    flex-direction: column;
    gap: 15px;
  }

  .sort-search-inputs {
    flex-direction: column;
    gap: 10px;
    width: 90%;
  }

  #search-input,
  #sort-by {
    width: 100%;
  }

  #clear-search,
  #reset-sort {
    width: 100%;
    font-size: 1.1em;
  }

  .page-button {
    width: 30%;
    align-items: center;
  }
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(69deg, #669afa, #4d70ff);
  border-radius: 0px 9px 9px 0px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb:horizontal {
  background: linear-gradient(69deg, #669afa, #4d70ff);
}
>>>>>>> 71f8c3aa7690ff4615db2fc4b594f4e6f05cb9e1
